# Python Collector
LATITUDE=
LONGITUDE=

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
AMQP_URL=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=

# Backend API
API_PORT=
ADMIN_EMAIL=
ADMIN_PASSWORD=
BACKEND_API_URL=

# Frontend
VITE_BACKEND_API_URL=